@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Declaración de variables*/

:root {
    /*Paleta de colores*/
    --primary-solid: #294261;
    --primary-900: rgba(41, 66, 97, 0.9);
    --primary-500: rgba(41, 66, 97, 0.5);
    --primary-300: rgba(41, 66, 97, 0.3);
    --secondary-solid: #B5C1C1;
    --secondary-900: rgba(181, 193, 193, 0.9);
    --secondary-500: rgba(181, 193, 193, 0.5);
    --secondary-300: rgba(181, 193, 193, 0.3);
    --red-border: #F20505;
    --red-border-900: rgba(242, 5, 5, 0.9);
    --red-border-500: rgba(242, 5, 5, 0.5);
    --red-border-300: rgba(242, 5, 5, 0.3);
    --green-logo: #7EB772;
    --grenn-logo-900: rgba(126, 183, 114, 0.9);
    --grenn-logo-500: rgba(126, 183, 114, 0.5);
    --grenn-logo-300: rgba(126, 183, 114, 0.3);
    --dark-solid: #000000;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);
    /*colores para el blackgraund*/
    --primary-solid: #294261;
    --light-bg-solid: white;
    --light-font-solid: white;
    /*TYPOGRAPHY*/
    --base-font: 'Roboto', sans-serif;
    --alternative-font: 'Public Sans', sans-serif;
    /*Tamaños fuente 1 em = .625rem*/
    --font-display: 3.0em;
    --font-jumbo: 2.6em;
    --font-xlarge: 2.0em;
    --font-large: 1.6em;
    --font-medium: 1.4em;
    --font-small: 1.0em;
    --font-xsmall: 0.8em;
    /* Spacings (márgenes para distanciar elementos) 1 rem =.625rem*/
    --spacing-128: 204.8px;
    --spacing-68: 108.8px;
    --spacing-36: 57.6px;
    --spacing-28: 44.8px;
    --spacing-24: 38.4px;
    --spacing-20: 32px;
    --spacing-16: 25.6px;
    --spacing-12: 19.2px;
    --spacing-8: 12.8px;
    --spacing-6: 9.6px;
    --spacing-4: 6.4px;
    --spacing-2: 3.2px;
}


/*NORMALIZACION*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

body {
    font-size: var(--font-large);
    
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.page-header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul,
ol {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
}

input[type="text"]::placeholder {
    color: var(--dark-300);
    font-family: var(--base-font);
    font-weight: 500;
}

/* ClASES DE AYUDA */

.container {
    max-width: 1200px;
    margin: var(--spacing-8) auto;
}


/*LOGO*/

.navbar_logo {
    width: 250px;
}


/* HEADER */
header {
    background: linear-gradient(to left, var(--primary-solid), var(--secondary-solid));
    padding: var(--spacing-8) 0;
}

.navbar { 
    display: flex;
    justify-content: space-between;
    
}

 .navbar_menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-24);
}

.navbar_item {
    color: var(--dark-solid);
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--alternative-font);
}

.navbar_link {
    padding: var(--spacing-6);
    border-radius: .9375rem;
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    transition: background .3s ease-in-out;
}

.navbar_link:hover {
    color: var(--light-bg-solid);
}

.with-submenu:hover .navbar_submenu {
    display: block;
}

.navbar_submenu {
    display: none;
    position: absolute;
    background-color: var(--secondary-solid);
    padding: var(--spacing-12);
    border-radius: .3125rem;
    font-size: var(--font-xsmall);
    font-weight: 600;
}

.navbar_submenu-link {
    display: block;
    transition: background .3s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.navbar_submenu-link:hover {
    text-decoration: underline;
}

.navbar_search, .input_search{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    position: relative;
    font-size: var(--font-medium);
}

.input_search input {
    border-radius: .3125rem;
    padding: var(--spacing-4);
    font-family: var(--alternative-font);
    padding-left: var(--spacing-16);
    font-weight: 600;
    border: none;
    max-width: 150px;
}

#navbar_search-icono {
    position: absolute;
    left: 0;
    color: var(--secondary-solid);
    padding-left: var(--spacing-2);
} 

/* MAIN Sección principal de la página*/

.main_container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: var(--spacing-24) auto;
    gap: var(--spacing-24);
}

/* SLIDER */

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.titulos {
    box-sizing: border-box;
    border-bottom: var(--spacing-2) solid;
   
    
}

.titulo_nueva_seccion {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    font-weight: 400;
    background-color: var(--dark-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-4) var(--spacing-8);
    display: inline-block;
    border-left: var(--spacing-8) solid var(--red-border);
    
}

.card_item-img{
    width: 300px;
}

/* CURSOS Y BLOG */

.contenidos {
    display: grid;
    grid-template-rows: 50% 50%;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-20);
}

.contenido_cursos {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
}

.cursos_actuales-nombre, .subtitulos {
    font-family: var(--base-font);
    font-size: var(--font-xlarge);
    font-weight: 600;
}

/* .cursos_actuales-search {
    border: solid var(--dark-300);
    border-radius: .3125rem;
    display: inline-block;
} */

.contenido_blog {
    display: flex;
    flex-direction: column;
    /* border-radius: .3125rem; */
    gap: var(--spacing-20);
}

.contenido_card_link {
    display: flex;
    border: solid var(--dark-solid);
    align-content: space-between;
    align-items: center;
    text-align: right;
    gap: var(--spacing-36);
    padding: var(--spacing-16);
    border-radius: 5px;
}

.contenido_card_link img {
    max-width: 200px;
    max-height: 200px;
}

/* 1920*1080 */








/* footer */

.footer {
    background: linear-gradient(to left, var(--primary-solid), var(--secondary-solid));
    padding: var(--spacing-8) 0;
    font-size: var(--font-medium);
    font-family: var(--alternative-font);
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    /* margin-top: auto; */
}

.footer-row {
    display: flex;
    flex-wrap: wrap;

}

.footer-links {
    width: 50%;
    padding: .9375rem;
    display: flex;
    flex-direction: column;

}

.footer-links h4 {
    /* font-size: 1.25rem; */
    color: black;
    margin-bottom: 1.5625rem;
    font-weight: 500;
    border-bottom: .125rem solid var(--primary-solid);
    padding-bottom: .625rem;
    display: inline-block;
    
}

.footer-links ul li a {
    /* font-size: 1.125rem; */
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 1.5625rem;
    transition: all .3s ease;
}

.footer-links ul a:hover {
    color: black;
    padding-left: .375rem;
}

.social-link {
    list-style: none;
    display: flex;
}
 
.social-link li {
    display: inline-block;
    margin: 0.30em;
    position: relative;
    font-size: 1.2em;
    display: flex;

}

.social-link i{
    color: #000000;
    position: relative;
    top: 1.3125rem;
    transition: all 265ms ease-in-out;
}

.social-link a {
    display: inline-block;
}

.social-link a::before{
    transform: scale(1);
    content:'';
    width: 1.25rem;
    border-radius: 6.25rem;
    display: block;
    background: linear-gradient(45deg, white);
    transition: all 265ms ease-out;
}

.social-link a:hover::before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-link a:hover i {
    transform: scale(2.2);
    color: white;
    background: linear-gradient(45deg, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-animation-fill-color: transparent;
    transition: all 265 ease-inn;
}
@media(max-width:61.9375rem) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 1.875rem;
    }

}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1200px) {
    body {
        font-size: var(--font-medium);
    }
}

/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
    body {
        font-size: var(--font-medium);
    }
}

/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {

}

/* Small devices (landscape phones, 576 and up) */

@media (max-width: 576px) {

}
