@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap');

/*Declaración de variables*/
:root {
    /*Paleta de colores*/
    --primary-solid: #294261;
    --primary-900: rgba(41, 66, 97, 0.9);
    --primary-500: rgba(41, 66, 97, 0.5);
    --primary-300: rgba(41, 66, 97, 0.3);
    
    --secondary-solid: #B5C1C1;
    --secondary-900: rgba(181, 193, 193, 0.9);
    --secondary-500: rgba(181, 193, 193, 0.5);
    --secondary-300: rgba(181, 193, 193, 0.3);
    
    --red-border: #F20505;
    --red-border-900: rgba(242, 5, 5, 0.9);
    --red-border-500: rgba(242, 5, 5, 0.5);
    --red-border-300: rgba(242, 5, 5, 0.3);

    --green-logo: #7EB772;
    --grenn-logo-900: rgba(126, 183, 114, 0.9);
    --grenn-logo-500: rgba(126, 183, 114, 0.5);
    --grenn-logo-300: rgba(126, 183, 114, 0.3);

    --dark-solid: #000000;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    /*colores para el blackgraund*/
    --primary-solid: #294261;
    --light-bg-solid: white;
    --light-font-solid: white;
    
    /*TYPOGRAPHY*/
    --base-font: 'Playfair Display', serif;
    --alternative-font: 'EB Garamond', serif;
    
    /*Tamaños fuente 1 em = 10px*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3.0em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings (márgenes para distanciar elementos) 1 rem =10px*/

    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

/*NORMALIZACION*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
.page-header, 
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}
ul, ol {
    list-style-type: none;
}
img {
    width: 100%; 
}
input[type="text"]::placeholder {
    color: var(--dark-300);
    font-family: var(--base-font);
    font-weight: 500;
}

/*LOGO*/

.logo {
    width: 250px;
}
